@page "/delete"

<PageTitle>delete person</PageTitle>

<h1>Edit</h1>

<table class="Table">
    <tbody class="Tbody">
        @foreach (var birthday in Birthdays)
        {
            if (!birthday.IsEditing)
            {
                <tr>
                    <td>@birthday.Id</td>
                    <td>@birthday.FName</td>
                    <td>@birthday.Lname</td>
                    <td>@birthday.Birthday.Date.ToString("yyyy-MM-dd")</td>
                    <button class="btn btn-primary" @onclick="()=>edit(birthday)"> Edit</button>
                </tr>
                
            }
            else
            {
            <td><input @bind="birthday.FName" /></td>
            <td><input @bind="birthday.Lname" /></td>
            <td><input @bind="birthday.Birthday" /></td>
            <td>
                <button class="btn btn-primary" @onclick="()=>delete(birthday)">Delete</button>
                <button class="btn btn-primary" @onclick="()=>save(birthday)">Save</button>
                <button class="btn btn-primary" @onclick="()=>cancel(birthday)">Cancel</button>
            </td>
        }
    }
        </tbody>
    </table>

@code {
    Sql sql = new Sql();
    Person person = new Person();
    public List<Person> Birthdays = new List<Person>();

    protected override async Task OnInitializedAsync()
    {
        await LoadBirthdays();
    }

    private async Task LoadBirthdays()
    {
        Birthdays = await Sql.SqlSelect();
    }
    private void edit(Person person)
    {
        person.IsEditing = true;
    }
    private void delete(Person person)
    {
        sql.SqlDel(person);
        LoadBirthdays();
    }
    private void save(Person person)
    {
        sql.SqlUpdate(person);
        LoadBirthdays();
    }
    private void cancel(Person person)
    {
        person.IsEditing = false;
        LoadBirthdays();
    }
}
