@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavMan
@using CalendarApp.Classes
@inject Authenticastion.AuthService AuthService
<PageTitle>DatingApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (AuthService.IsLoggedIn == true)
                {
                <button type="button" class="btn btn-primary" @onclick="Logout">LogOut</button>
                }
                else
                {
            <button type="button" class="btn btn-primary" @onclick="Gologin">LogIn</button>
            <button type="button" class="btn btn-primary" @onclick="GoSignUp">SignUp</button>
                }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    private bool isLoggedIn;
    private string username;

    private void Gologin()
    {

        NavMan.NavigateTo("LogIn");
    }
    private void GoSignUp()
    {
        NavMan.NavigateTo("SignUp");
    }
    private async Task Logout()
    {

        AuthService.IsLoggedIn = false;
        username = "";

        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "isLoggedIn");
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "username");
        NavMan.NavigateTo("/");
    }
}